/* #01d066
#0199e2
#a752ba
#f9c300
#f67800
#fb392d */

/* settingsgenerali */
:root{
    --sec:rgb(1, 156, 228);
    --main: rgb(0, 209, 101);
    --accent:rgb(250, 196, 0);
    --blackCus: rgb(12, 12, 12);
    --whiteCus:rgb(221, 223, 224);


}

body{
    background-color: var(--accent);
    overflow-x: hidden;
}

*{
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: beermoney ;
    src: url(./immagini/beermoney.ttf);
}

h1{
    font-family: beermoney;
    text-shadow: 2px 2px var(--blackCus);
    font-size: 20vh;
}

h2, h3, h4{
    color: var(--sec);
    font-family: 'Fraunces', serif;

}
/* colori testi */
.text-main{
    color: var(--main);
}

.text-sec{
    color: var(--sec);
}

.text-accent{
    color: var(--accent);
}

.text-blackCus{
    color: var(--blackCus);
}

.text-whiteCus{
    color: var(--whiteCus);
}
/* colori background*/
.bg-main{
    background-color : var(--main);
}

.bg-sec{
    background-color : var(--sec);
}

.bg-accent{
    background-color : var(--accent);
}

.bg-blackCus{
    background-color : var(--blackCus);
}

.bg-whiteCus{
   background-color : var(--whiteCus);
}
/* colori bordi */
.border-main{
    border  : 2px solid var(--main);
}

.border-sec{
    border  : 2px solid var(--sec);
}

.border-accent{
    border  : 2px solid var(--accent);
}

.border-blackCus{
    border  : 2px solid var(--blackCus);
}

.border-whiteCus{
   border : 2px solid var(--whiteCus);
}

/* sezione header */
#myVideo{  
    width: 100%;
    height: 90vh;
    object-fit: cover;
    position: absolute;
    top : 0 ;
    right: 0;
    z-index: -1;
}


.btn-custom{
    background-color: var(--accent);
    height: 70px;
    width: 100px;
    border-radius: 20px;
    border: 5px double var(--sec);
    color: var(--sec);
    font-size: large;
    transition: 0.5s;
}

.btn-custom:hover{
    background-color: var(--main);
    height: 70px;
    width: 100px;
    border-radius: 20px;
    border: 5px double var(--sec);
    color: var(--accent);
    font-size: large;
}


.btn-custom2{
    background-color: var(--accent);
    height: 40px;
    width: 70px;
    border-radius: 20px;
    border: 5px double var(--sec);
    color: var(--sec);
    transition: 0.5s;
}

.btn-custom2:hover{
    background-color: var(--main);
    height: 40px;
    width: 70px;
    border-radius: 20px;
    border: 5px double var(--sec);
    color: var(--accent);
    
}
.btn-custom3{
    background-color: var(--accent);
    height: 45px;
    width: 110px;
    border-radius: 20px;
    border: 5px double var(--sec);
    color: var(--sec);
    font-size: large;
    transition: 0.5s;
}

.btn-custom3:hover{
    background-color: var(--main);
    height: 45px;
    width: 110px;
    border-radius: 20px;
    border: 5px double var(--sec);
    color: var(--accent);
    font-size: large;
}

.logoverde{
    width: 20px ;
}

#mainNavbar{
    transition: 0.5s;
}
/* .navbar {
    border: 1px solid var(--blackCus);
  } */

#navIcon{
    transition: 0.3s;
}


/* sezione aos */
.img-custom{
    width: 400px;
}



@media screen and (max-width:900px) {
    .img-custom{
        width: 300px;
    }
    
}

.increments-numbers{
    font-size : 50px;
    color: var(--sec);
    font-weight: 700;
}

/* swiper */
.swiper {
  
    height: 450px;
  }

.card-custom-sw{

height: 200px;
width: 300px;
border-radius: 20px;
border: 2px solid var(--blackCus);
background-color: var(--main);

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;

}

/* sezione enter-leave */
.col-custom-trasporti{
    border: 3px solid var(--sec);
    color: var(--sec);
    padding: 20px;
    transition: 0.4s;
    cursor: pointer;
  }

  .col-custom-trasporti:hover{
    border: 3px solid var(--sec);
    color: var(--blackCus);
    padding: 20px;
    transform: scale(1.2);
  }

  /* le cate4egorie */

  .category-card{
    border: double 10px var(--sec);
    border-radius: 50px; 
    color: var(--main)
  }

  .border-dashed{
    border: dashed 4px var(--sec);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    background: url('./immagini/scaffale.jpg');
    background-size: cover;
    height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* bottone scroller */

  #scroller{
    position:fixed;
    bottom: 5%;
    right: 3%;
    z-index: 2;
    opacity: 0;
    transition: 0.4s;
  }


  /* pagina annunci */

  .header-custom{

    background-image:linear-gradient(rgba(0, 0, 0, 0.374),rgba(0, 0, 0, 0.281)), url(./immagini/trifoglio.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;

   
  }

  /* card annunci */

  .announcement-card{
    min-height: 300px;
    border: 10px double var(--sec);
    border-radius: 20px;
    margin-top: 20px;
    color: var(--sec);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--whiteCus);
  }

  /* filtro per prezzo */
  .inputNumber{
    font-size: 40px;
    color: var(--sec);
    font-weight: 600;
  }


  .card-head{
    min-height: 50px;
  }
  
  .img-Card-Custom{
    height: 100px;
    border-radius: 50px;

  }

  /* sezione chi siamo */

  .circle{
    height: 300px;
    width: 300px;
    border-radius: 100%;
    border: 10px double var(--sec);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .opener{
    height: 80px;
    width: 80px;
    border-radius: 100%;
    border: 10px double var(--sec);

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    background-color: var(--accent);    
    cursor: pointer;
    transition: 1s;
  }

  .moved{
    height: 80px;
    width: 80px;
    border-radius: 100%;
    border: 10px double var(--sec);
    position: absolute;

    background-image: url('./immagini/bicchirezzo.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--blackCus);
    transition: 1s;
    cursor: pointer;
  }


  .teacher-card{
    min-height: 350px;
    height: 250;
    border-radius: 10px;
    border: 10px double var(--sec);

    /* background-image: url('./immagini/bicchirezzo.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   padding: 10px;
   background-color: var(--whiteCus);
  }